.overlay {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(3px);

    z-index: 999;

    overflow: hidden;
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: auto;
    padding: 3rem;
    box-sizing: border-box;

    /*width: 90vw;*/
    /*height: 90vh;*/

    z-index: 1000;

    background: white;
    overflow-y: auto;
}

